:root {
    --dark-blue: #0036d8;
    --default-blue: #095EFF;
    --gradient-blue-hlsa: 225, 100%, 42%, 1;
    --bubble-image: url('../background.webp');
    --dark-orange: #e65c00;
    --default-orange:#ff6f00;
    --default-white: #ffffff;
    --card-header-blue: #688eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.btn {
    font-family: 'Luckiest Guy', sans-serif;  
}

.header {
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.default-blue {
    color: var(--default-blue);
}

.default-orange {
    color: var(--default-orange);
}

.lucky-font {
    font-family: 'Luckiest Guy', sans-serif;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .7s ease-out, transform .7s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.max-width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease-out;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.15);
}

.custom-navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar-scrolled {
    background-color: var(--default-blue);
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
    color: var(--default-white) !important;
}

.navbar-logo {
    height: 100%;
    min-height: 75px;
    max-height: 650px;
    width: 100%;
    max-width: 400px;
    margin-right: 15px;
}

.navbar.navbar-scrolled a > .navbar-logo {
    max-height: 100px;
}

.btn-call {
    background-color: var(--default-orange);
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease-out;
    font-size: 1rem;
    display: inline-block;
}

.btn-call:hover {
    background-color: #ffcccb;
    color: #0036d8;
}

@media (max-width: 991px) {
    .hero-section {
        padding-top: 120px;
    }

    .hero-section::before {
        height: 120%;
    }

    .custom-navbar {
        background-color: var(--default-blue);
    }

    .navbar-nav .nav-link:hover {
        transform: none !important;
        background-color: var(--dark-orange);
    }

    .navbar-toggler-icon {
        color: var(--default-white) !important;
    }
}

.hero-section {
    align-items: center;
    background: hsla(var( --gradient-blue));
    background: linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    background: -moz-linear-gradient( 225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    background: -webkit-linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0036D8", endColorstr="#2E61FA", GradientType=1 );
    color: var(--default-white);
    display: flex;
    min-height: 850px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero-section::before {
    content: '';
    background-image: var(--bubble-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1024px;
    max-height:120%;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 0;
} 

.hero-circle {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.body-text {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.card {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-text.footer {
    padding-bottom: 20px;
}

.card-header {
    background-color: var(--card-header-blue);
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card-body {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
}

.card-body ul {
    margin-bottom: 0;
}

.card-body ul li {
    padding-bottom: 10px;
    text-align: left;
    list-style-type: none;
    margin: 10px 10px;
}

.card-body ul li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--default-blue);
    margin:0 15px 0 -15px;
    list-style-type: none;
    display: block;
    position: absolute;
    left: 37px;
}

ul.party-package > li:not(:first-child) {
    border-top: 1px solid #ededed;
}

.card-body h5 {
    font-weight: bold;
    text-align: left;
}

.card-header::before {
    content: '';
    background-image: var(--bubble-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
    display: block;
    z-index: 0;
    left: 0px;
    top: 0px;
}

.row > .col:nth-child(even) .card-header::before {
    background-position-x: unset;
    transform: scaleX(-1);
}

.call-to-action-button {
    background-color: var(--default-orange);
    color: var(--default-white);
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.call-to-action-button:hover {
    background-color: var(--dark-orange);
    color: var(--default-white);
    transform: scale(1.05);
}

.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    overflow: hidden;
    z-index: 2;
}

.wave-container.top {
    bottom: unset;
    top: 0;
    height: 279px;
}

.wave-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    transform: rotate(180deg);
}

.wave-wrapper.top {
    transform: rotate(0deg);
    position: relative;
    top: 0;
    bottom: unset;
}

.wave-svg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    fill: var(--default-white);
    fill-opacity: 1;
    width: calc(160% + 1.3px);
}

.content {
    position: relative;
    z-index: 3;
}

.info-section {
    padding: 50px 20px;
    background-color: var(--default-white);
    color: #2E61FA;
    text-align: center;
}

.catchy-phrase {
    color: var(--default-white);
    padding: 40px 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.catchy-phrase h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
}

.catchy-phrase p {
    font-size: 24px;
    line-height: 1.6;
}

.container {
    z-index: 3;
}

.call-to-action-section {
    position: relative;
    background: linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    color: var(--default-white);
    text-align: center;
    padding: 100px 0;
    overflow: hidden;
}

.call-to-action-section::before {
    content: '';
    background-image: var(--bubble-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: -1;
    top: 0;
    left: 0;
}

.call-to-action-section .catchy-phrase {
    padding: 40px 20px;
    border-radius: 8px;
}

.call-to-action-section .catchy-phrase h2 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
}

.call-to-action-section .catchy-phrase p {
    font-size: 24px;
    line-height: 1.6;
}

.call-to-action-section .card {
    margin-top: 20px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.call-to-action-section .card-body {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
}

.call-to-action-section .card-body ul {
    margin-bottom: 0;
}

.call-to-action-section .card-body ul li {
    padding-bottom: 10px;
}

.call-to-action-section .card-body h5 {
    font-weight: bold;
}

.wave-top,
.wave-bottom {
    position: absolute;
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: -1;
}

.wave-top {
    top: -1px;
}

.wave-bottom {
    bottom: -1px;
}

.wave-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    fill: var(--default-white);
    fill-opacity: 1;
    width: calc(160% + 1.3px);
}

@media (max-width: 768px) {
    .navbar-logo {
        max-width: 650px;
    }

    .navbar.navbar-scrolled a > .navbar-logo {
        max-height: 100px;
    }

    .navbar .navbar-toggler {
        margin: auto;
    } 

    .navbar.navbar-scrolled .navbar-toggler {
        margin: unset;
    } 

    .call-to-action-section {
        padding: 60px 0;
    }

    .catchy-phrase h2 {
        font-size: 3.2rem;
    }
}

.who-we-are-section {
    padding: 50px 0;
}

.who-we-are-section .section-title {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 2.5rem;
    color: var(--default-blue);
    margin-bottom: 20px;
}

.who-we-are-section .text-container {
    background-color: var(--default-orange);
    padding: 20px;
    border-radius: 8px;
}

.who-we-are-section .lead {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', sans-serif;  
}

.who-we-are-section .card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}

.who-we-are-section .call-to-action-button {
    background-color: var(--default-blue);
    color: #ffffff;
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease-out;
}

.who-we-are-section .call-to-action-button:hover {
    background-color: #ffcccb;
    color: var(--default-white);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.contact-form-section {
    background-color: var(--default-blue);
    padding: 50px 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

.contact-form-section .container {
    position: relative;
    z-index: 2;
}

.contact-form-section .form-control,
.contact-form-section .form-select {
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.contact-form-section .form-label {
    color: #fff;
    font-weight: bold;
}

.contact-form-section .btn-primary {
    background-color: var(--default-orange);
    border-color: var(--default-orange);
    transition: background-color 0.3s ease-out;
}

.contact-form-section .btn-primary:hover {
    background-color: #ffcccb;
    border-color: #ffcccb;
}
