:root {
    --dark-blue: #0036d8;
    --default-blue: #095EFF;
    --gradient-blue-hlsa: 225, 100%, 42%, 1;
    --bubble-image: url('../background.webp');
    --dark-orange: #e65c00;
    --default-orange:#ff6f00;
    --default-white: #ffffff;
    --card-header-blue: #688eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

/* Default font for the entire page */
body {
    font-family: 'Roboto', sans-serif; /* Clean and professional font */
    color: #333333;
}

.btn {
    font-family: 'Luckiest Guy', sans-serif;  
}

.header {
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif; /* Fun font for branding */
    font-weight: 400;
    font-size: 1.5rem; /* Increase font size */
    padding: 15px; /* Increase padding */
    text-align: center; /* Center align header text */
    position: relative;
    z-index: 1;
    overflow: hidden; /* Ensure the pseudo-element does not overflow */
}

.default-blue {
    color: var(--default-blue);
}

.default-orange {
    color: var(--default-orange);
}

.lucky-font {
    font-family: 'Luckiest Guy', sans-serif; /* Fun font for branding */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .7s ease-out, transform .7s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Max width for content */
.max-width-container {
    max-width: 1440px;
    margin: 0 auto; /* Center content horizontally */
    padding: 0 15px; /* Add padding to prevent content from sticking to edges */
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease-out; /* Scale text to 105% on hover */
}

.navbar-nav .nav-link:hover {
    transform: scale(1.15); /* Scale text to 105% on hover */
}

.custom-navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent; /* Initially transparent background */
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif; /* Fun font for branding */
    font-weight: 400;
    font-size: 1.5rem; /* Increase font size */
}

.navbar-scrolled {
    background-color: var(--default-blue); /* Blue color when scrolled */
}

/* Make all header text white */
.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
    color: var(--default-white) !important; /* White text color */
}

.navbar-logo {
    height: 100%;
    min-height: 75px; /* Adjust max-height as needed */
    max-height: 100px; /* Adjust max-height as needed */
    width: 100%; /* Maintain aspect ratio */
    max-width: 400px;
    margin-right: 15px; /* Optional: Adjust spacing */
}

.btn-call {
    background-color: var(--default-orange);; /* Match the call-to-action button color */
    color: #ffffff; /* White text */
    border-radius: 30px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove default border */
    transition: background-color 0.3s ease-out; /* Smooth transition */
    font-size: 1rem; /* Adjust font size */
    display: inline-block;
}

.btn-call:hover {
    background-color: #ffcccb; /* Cotton pink on hover */
    color: #0036d8; /* Blue text on hover */
}

/* Remove growing effect when mobile nav is active */
@media (max-width: 991px) {

    .hero-section {
        padding-top: 120px; /* Adjust as needed to ensure content is visible */
    }

    .hero-section::before {
        height: 120%;
    }

    .custom-navbar {
        background-color: var(--default-blue);
    }

    .navbar-nav .nav-link:hover {
        transform: none !important; /* Remove transition */
        background-color: var(--dark-orange);
    }

    .navbar-toggler-icon {
        color: var(--default-white) !important; /* White color for mobile nav icon */
    }
    
}

/* Inline styles for the hero section */
.hero-section {
    align-items: center;
    background: hsla(var( --gradient-blue));
    background: linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    background: -moz-linear-gradient( 225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    background: -webkit-linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0036D8", endColorstr="#2E61FA", GradientType=1 );
    color: var(--default-white);
    display: flex;
    min-height: 850px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hero-section::before {
    content: '';
    background-image: var(--bubble-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1024px;
    max-height:120%;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 0;
} 

/* Styling for the circular hero image */
.hero-circle {
    width: 100%; /* Ensure the circle spans the entire width of its parent */
    aspect-ratio: 1/1; /* Maintains a square aspect ratio */
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Hides any overflow content */
    position: relative; /* Allows positioning of the image */
    transition: transform 0.5s ease; /* Smooth transition for movement */
}

.hero-image {
    width: 100%; /* Ensure the image fills the circular shape */
    height: 100%; /* Ensure the image fills the circular shape */
    object-fit: cover; /* Ensure the image covers the entire circular area */
    position: absolute; /* Position the image inside the circle */
    top: 0;
    left: 0;
}

.body-text {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif; /* Clean and professional font */
    color: #333333;
}

/* Cards styling */
.card {
    margin-bottom: 20px;
    width: 100%;
    border: none; /* Remove default border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.card-text.footer {
    padding-bottom: 20px;
}

.card-header {
    background-color: var(--card-header-blue);
    color: var(--default-white);
    font-family: 'Luckiest Guy', sans-serif; /* Fun font for branding */
    font-weight: 400;
    font-size: 1.5rem; /* Increase font size */
    padding: 15px; /* Increase padding */
    text-align: center; /* Center align header text */
    position: relative;
    z-index: 1;
    overflow: hidden; /* Ensure the pseudo-element does not overflow */
}

.card-body {
    font-size: 1.2rem; /* Increase font size */
    padding: 20px; /* Increase padding */
    line-height: 1.6; /* Improved line height for readability */
}

.card-body ul {
    margin-bottom: 0; /* Remove default margin bottom */
}

.card-body ul li {
    padding-bottom: 10px; /* Add space between each bullet point */
    text-align: left; /* Align titles to the left */
    list-style-type: none;
    margin: 10px 10px;
}

.card-body ul li:before {
    content: "\f058"; /* FontAwesome content for fa-circle-check */
    font-family: "Font Awesome 5 Free"; /* FontAwesome font family */
    font-weight: 900; /* FontAwesome font weight */
    color: var(--default-blue); /* Color using --default-blue variable */
    margin:0 15px 0 -15px;
    list-style-type: none;
    display: block;
    position: absolute;
    left: 37px;
}

ul.party-package > li:not(:first-child) {
    border-top: 1px solid #ededed;
}

.card-body h5 {
    font-weight: bold;
    text-align: left; /* Align titles to the left */
}

.card-header::before {
    content: '';
    background-image: var(--bubble-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
    display: block;
    z-index: 0;
    left: 0px;
    top: 0px;
}

.row > .col:nth-child(even) .card-header::before {
    background-position-x: unset;
    transform: scaleX(-1);
}

/* Custom CSS for call-to-action button */
.call-to-action-button {
    background-color: var(--default-orange); /* Orange button color */
    color: var(--default-white); /* White text color */
    font-size: 1.2rem; /* Button font size */
    padding: 12px 24px; /* Button padding */
    border-radius: 30px; /* Rounded corners */
    text-decoration: none; /* Remove default underline */
    display: inline-block;
    transition: transform 0.3s ease-out; /* Smooth transition with ease-out timing function */
}

.call-to-action-button:hover {
    background-color: var(--dark-orange); /* Darker orange on hover */
    color: var(--default-white); /* White text color on hover */
    transform: scale(1.05); /* Scale button to 105% on hover */
}

.wave-container {
    position: absolute;
    bottom: 0; /* Position at the bottom of the hero section */
    left: 0;
    width: 100%;
    height: 240px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow for cleaner appearance */
    z-index: 2; /* Ensure SVG path is above overlay */
}

.wave-container.top {
    bottom: unset;
    top: 0;
    height: 279px;
}

.wave-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
    transform: rotate(180deg);
}

.wave-wrapper.top {
    transform: rotate(0deg);
    position: relative;
    top: 0;
    top: 0;
    bottom: unset;
}

.wave-svg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    fill: var(--default-white);
    fill-opacity: 1;
    width: calc(160% + 1.3px);
}

.content {
    position: relative;
    z-index: 3; /* Ensure content is above SVG path */
}

.info-section {
    padding: 50px 20px; /* Adjust padding as needed */
    background-color: var(--default-white); /* Background color for the info section */
    color: #2E61FA; /* Text color */
    text-align: center; /* Center text horizontally */
}

.catchy-phrase {
    color: var(--default-white);
    padding: 40px 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif; /* Clean and professional font */
}

.catchy-phrase h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
}

.catchy-phrase p {
    font-size: 24px;
    line-height: 1.6;
}

.container {
    z-index: 3;
}

/** Call to action section **/
.call-to-action-section {
    position: relative;
    background: linear-gradient(225deg, hsla(var(--gradient-blue-hlsa)) 37%, hsla(225, 95%, 58%, 1) 73%);
    color: var(--default-white);
    text-align: center;
    padding: 100px 0; /* Adjust padding as needed */
    overflow: hidden; /* Hide overflow to contain waves */
}

.call-to-action-section::before {
    content: '';
    background-image: var(--bubble-image); /* Bubble background image */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: -1;
    top: 0;
    left: 0;
}

.call-to-action-section .catchy-phrase {
    padding: 40px 20px;
    border-radius: 8px;
}

.call-to-action-section .catchy-phrase h2 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
}

.call-to-action-section .catchy-phrase p {
    font-size: 24px;
    line-height: 1.6;
}

.call-to-action-section .card {
    margin-top: 20px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.call-to-action-section .card-body {
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
}

.call-to-action-section .card-body ul {
    margin-bottom: 0;
}

.call-to-action-section .card-body ul li {
    padding-bottom: 10px;
}

.call-to-action-section .card-body h5 {
    font-weight: bold;
}

.wave-top,
.wave-bottom {
    position: absolute;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
    z-index: -1;
}

.wave-top {
    top: -1px; /* Position at the top of the section */
}

.wave-bottom {
    bottom: -1px; /* Position at the bottom of the section */
}

.wave-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    fill: var(--default-white);
    fill-opacity: 1;
    width: calc(160% + 1.3px);
}

@media (max-width: 768px) {

    .navbar-logo {
        max-width: 150px;
        
    }

    .call-to-action-section {
        padding: 60px 0; /* Adjust padding for smaller screens */
    }

    .catchy-phrase h2 {
        font-size: 3.2rem;
    }
}

/** Who we are secyion **/

.who-we-are-section {
    padding: 50px 0;
}

.who-we-are-section .section-title {
    font-family: 'Luckiest Guy', sans-serif; /* Fun font for section titles */
    font-size: 2.5rem;
    color: var(--default-blue); /* Blue text */
    margin-bottom: 20px;
}

.who-we-are-section .text-container {
    background-color: var(--default-orange); /* Orange background */
    padding: 20px;
    border-radius: 8px; /* Optional: Add rounded corners */
}

.who-we-are-section .lead {
    font-size: 1.5rem;
    color: #ffffff; /* White text */
    margin-bottom: 20px;
}

.who-we-are-section .card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff; /* White text */
    margin-bottom: 20px;
}

.who-we-are-section .call-to-action-button {
    background-color: var(--default-blue); /* Blue button */
    color: #ffffff; /* White text */
    font-size: 1.2rem; /* Button font size */
    padding: 12px 24px; /* Button padding */
    border-radius: 30px; /* Rounded corners */
    text-decoration: none; /* Remove default underline */
    display: inline-block;
    transition: background-color 0.3s ease-out; /* Smooth transition */
}

.who-we-are-section .call-to-action-button:hover {
    background-color: #ffcccb; /* Cotton pink on hover */
    color: var(--default-white); /* White text on hover */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/** Contact Area **/

.contact-form-section {
    background-color: var(--default-blue); /* Same background color as the hero section */
    padding: 50px 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

.contact-form-section .container {
    position: relative;
    z-index: 2;
}

.contact-form-section .form-control,
.contact-form-section .form-select {
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.contact-form-section .form-label {
    color: #fff;
    font-weight: bold;
}

.contact-form-section .btn-primary {
    background-color: var(--default-orange); /* Match the call-to-action button color */
    border-color: var(--default-orange);
    transition: background-color 0.3s ease-out;
}

.contact-form-section .btn-primary:hover {
    background-color: #ffcccb; /* Cotton pink on hover */
    border-color: #ffcccb;
}